<div>
 <table id="mytable" cellspacing="0">
    <tr>
        <th scope="col" rowspan="2" width="80px">学校</th>
        <th scope="col" rowspan="2" width="80px">班级</th>
        <th scope="col" rowspan="2" width="80px">考号</th>
        <th scope="col" rowspan="2" width="80px">姓名</th>
        <th scope="col" colspan="3">总分</th>
        <th scope="col" colspan="3">语文</th>
        <th scope="col" colspan="3">数学</th>
        <th scope="col" colspan="3">英语</th>
        <th scope="col" colspan="3">地理</th>
        <th scope="col" colspan="3">历史</th>
        <th scope="col" colspan="3">政治</th>
        <th scope="col" colspan="3">物理</th>
        <th scope="col" colspan="3">生物</th>
        <th scope="col" colspan="3">化学</th>
        <th scope="col" rowspan="2" width="60px"></th>
    </tr>
    <tr>
        <th scope="col" class="score_value"></th>
        <th scope="col" class="score_value">班级排名</th>
        <th scope="col" class="score_value">年级排名</th>
        <th scope="col" class="score_value"></th>
        <th scope="col" class="score_value">班级排名</th>
        <th scope="col" class="score_value">年级排名</th>
        <th scope="col" class="score_value"></th>
        <th scope="col" class="score_value">班级排名</th>
        <th scope="col" class="score_value">年级排名</th>
        <th scope="col" class="score_value"></th>
        <th scope="col" class="score_value">班级排名</th>
        <th scope="col" class="score_value">年级排名</th>
        <th scope="col" class="score_value"></th>
        <th scope="col" class="score_value">班级排名</th>
        <th scope="col" class="score_value">年级排名</th>
        <th scope="col" class="score_value"></th>
        <th scope="col" class="score_value">班级排名</th>
        <th scope="col" class="score_value">年级排名</th>
        <th scope="col" class="score_value"></th>
        <th scope="col" class="score_value">班级排名</th>
        <th scope="col" class="score_value">年级排名</th>
        <th scope="col" class="score_value"></th>
        <th scope="col" class="score_value">班级排名</th>
        <th scope="col" class="score_value">年级排名</th>
        <th scope="col" class="score_value"></th>
        <th scope="col" class="score_value">班级排名</th>
        <th scope="col" class="score_value">年级排名</th>
        <th scope="col" class="score_value"></th>
        <th scope="col" class="score_value">班级排名</th>
        <th scope="col" class="score_value">年级排名</th>
    </tr>
    <% 
        var $i = 1;
        scores.forEach(	function(score){
            var $class = score.grade + "(" + score.classId + ")班";
            if($i % 2 == 0){%>
                <tr>  
                <td class="alt"><%= score.school  %></td>
                <td class="alt"><%= $class  %></td>
                <td class="alt"><%=  score.no   %></td>
                <td class="alt" ><%=  score.name   %></td>
                <td class="alt score_value"><%=  score.score   %></td>
                <td class="alt score_value"><%=  score.gradeOrder   %></td>
                <td class="alt score_value"><%=  score.classOrder   %></td>

                <td class="alt score_value"><%=  score.englishScore   %></td>
                <td class="alt score_value"><%=  score.englishGradeOrder   %></td>
                <td class="alt score_value"><%=  score.englishClassOrder   %></td>

                <td class="alt score_value"><%=  score.chineseScore   %></td>
                <td class="alt score_value"><%=  score.chineseGradeOrder   %></td>
                <td class="alt score_value"><%=  score.chineseClassOrder   %></td>

                <td class="alt score_value"><%=  score.mathScore   %></td>
                <td class="alt score_value"><%=  score.mathGradeOrder   %></td>
                <td class="alt score_value"><%=  score.mathClassOrder   %></td>

                <td class="alt score_value"><%=  score.geographyScore   %></td>
                <td class="alt score_value"><%=  score.geographyGradeOrder   %></td>
                <td class="alt score_value"><%=  score.geographyClassOrder   %></td>

                <td class="alt score_value"><%=  score.historyScore   %></td>
                <td class="alt score_value"><%=  score.historyGradeOrder   %></td>
                <td class="alt score_value"><%=  score.historyClassOrder   %></td>

                <td class="alt score_value"><%=  score.politicsScore   %></td>
                <td class="alt score_value"><%=  score.politicsGradeOrder   %></td>
                <td class="alt score_value"><%=  score.politicsClassOrder   %></td>


                <td class="alt score_value"><%=  score.physicsScore   %></td>
                <td class="alt score_value"><%=  score.physicsGradeOrder   %></td>
                <td class="alt score_value"><%=  score.physicsClassOrder   %></td>

                <td class="alt score_value"><%=  score.biologyScore   %></td>
                <td class="alt score_value"><%=  score.biologyGradeOrder   %></td>
                <td class="alt score_value"><%=  score.biologyClassOrder   %></td>


                <td class="alt score_value"><%=  score.chemistryScore   %></td>
                <td class="alt score_value"><%=  score.chemistryGradeOrder   %></td>
                <td class="alt score_value"><%=  score.chemistryClassOrder   %></td>
                <td> <a href="javascript:void(0);" onclick="removeRow(this, <%= score.id%>);return false;">删除</a> </td>

                </tr>
            <%}else{
            %>
    <tr>  
            <td><%= score.school  %></td>
            <td><%= $class  %></td>
            <td><%=  score.no   %></td>
            <td><%=  score.name   %></td>
            <td class="score_value"><%=  score.score   %></td>
            <td class="score_value"><%=  score.gradeOrder   %></td>
            <td class="score_value"><%=  score.classOrder   %></td>

            <td class="score_value"><%=  score.englishScore   %></td>
            <td class="score_value"><%=  score.englishGradeOrder   %></td>
            <td class="score_value"><%=  score.englishClassOrder   %></td>

            <td class="score_value"><%=  score.chineseScore   %></td>
            <td class="score_value"><%=  score.chineseGradeOrder   %></td>
            <td class="score_value"><%=  score.chineseClassOrder   %></td>

            <td class="score_value"><%=  score.mathScore   %></td>
            <td class="score_value"><%=  score.mathGradeOrder   %></td>
            <td class="score_value"><%=  score.mathClassOrder   %></td>

            <td class="score_value"><%=  score.geographyScore   %></td>
            <td class="score_value"><%=  score.geographyGradeOrder   %></td>
            <td class="score_value"><%=  score.geographyClassOrder   %></td>

            <td class="score_value"><%=  score.historyScore   %></td>
            <td class="score_value"><%=  score.historyGradeOrder   %></td>
            <td class="score_value"><%=  score.historyClassOrder   %></td>

            <td class="score_value"><%=  score.politicsScore   %></td>
            <td class="score_value"><%=  score.politicsGradeOrder   %></td>
            <td class="score_value"><%=  score.politicsClassOrder   %></td>


            <td class="score_value"><%=  score.physicsScore   %></td>
            <td class="score_value"><%=  score.physicsGradeOrder   %></td>
            <td class="score_value"><%=  score.physicsClassOrder   %></td>

            <td class="score_value"><%=  score.biologyScore   %></td>
            <td class="score_value"><%=  score.biologyGradeOrder   %></td>
            <td class="score_value"><%=  score.biologyClassOrder   %></td>


            <td class="score_value"><%=  score.chemistryScore   %></td>
            <td class="score_value"><%=  score.chemistryGradeOrder   %></td>
            <td class="score_value"><%=  score.chemistryClassOrder   %></td>
            <td> <a href="javascript:void(0);" onclick="removeRow(this, <%= score.id%>);return false;">删除</a> </td>

            </tr>  
            <% 
                   
                }
                 $i++;
            });%>
        </table>


    </div>
    <script>

    </script>