<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线查分系统</title>
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.1/themes/metro/easyui.css">  
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.1/themes/mobile.css">  
	<link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.1/themes/color.css"> 
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.1/themes/icon.css"> 
   <script type="text/javascript" src="/javascripts/jquery-easyui-1.5.1/jquery.min.js"></script>  
    <script type="text/javascript" src="/javascripts/jquery-easyui-1.5.1/jquery.easyui.min.js"></script> 
    <script type="text/javascript" src="/javascripts/jquery-easyui-1.5.1/jquery.easyui.mobile.js"></script> 
    <style type="text/css"> 
        body{ font-size:40px; line-height:24px;} 


        #scoreInfo{ margin:0 auto;} 
        .student {width: 900px; margin:60px auto auto auto;}
        .student td{height: 100px; }
        .student_name { width: 100px; }
        .student_value {padding:0px 0px 0px 20px; text-align:left}
        
        #scoreInfo{
            text-align:center; 
            font-size:40px;  
        }



        #mytable {   
        padding: 0;  
        margin:0 auto;  
        }  
        #mytable caption {  
			padding: 0 0 5px 0;  
			width: 900px;   
			font: italic 11px;  
			text-align: right;  
        }  
        #mytable th {  
			font: bold 30px ;  
			color: #4f6b72;  
			border-right: 1px solid #C1DAD7;  
			border-bottom: 1px solid #C1DAD7;  
			border-top: 1px solid #C1DAD7;  
			letter-spacing: 2px;  
			text-transform: uppercase;  
			text-align: center;  
			padding: 6px 6px 6px 12px;  
			background: #CAE8EA url(images/bg_header.jpg) no-repeat;  
			height : 100px;
        }  
        
        #mytable td {  
			border-right: 1px solid #C1DAD7;  
			border-bottom: 1px solid #C1DAD7;  
			background: #fff;  
			font-size:40px;  
			padding: 6px 6px 6px 12px;  
			color: #4f6b72;  
			
        }  
        
        #mytable td.alt {  
			background: #F5FAFA;  
			color: #797268;  
			text-align: right;
        }  
        
        #mytable th.specalt {  
			border-left: 1px solid #C1DAD7;  
			border-top: 0;  
			background: #f5fafa url(images/bullet2.gif) no-repeat;  
			font: bold 30px ;  
			color: #797268;
        }  
    </style> 
</head>
<body >
<form action="" method="post">
<div id="scoreInfo">
    <table class="student">
        <tr>
            <td class="student_name">学校:</td>
            <td class="student_value"><%= score.school %></td>
            <td class="student_name">班级:</td>
            <td class="student_value"><%= score.class %></td>
        </tr>
        <tr>
            <td class="student_name">学号:</td>
            <td class="student_value"><%= score.no %></td>
            <td class="student_name">姓名:</td>
            <td class="student_value"><%= score.name %></td>
        </tr>
    </table>
    <br>
    <table id="mytable" cellspacing="0" summary="The technical specifications of the Apple PowerMac G5 series">  
        <caption></caption>  
        <tr>  
            <th scope="col" abbr="Configurations">科目</th>  
            <th scope="col" abbr="Dual 1.8">分数</th>  
            <th scope="col" abbr="Dual 2">班级排名</th>  
            <th scope="col" abbr="Dual 2.5">年级排名</th>  
        </tr>  
        <tr>  
            <th scope="row" abbr="G5 Processor" class="specalt"></th>  
            <td class="alt"><%= score.score %></td>  
            <td class="alt"><%= score.classOrder %></td>  
            <td class="alt" style="color:red"></td>  
        </tr>  
        <tr>  
            <th scope="row" abbr="G5 Processor" class="specalt">语文</th>  
            <td class="alt"><%= score.chineseScore %></td>  
            <td class="alt"><%= score.chineseGradeOrder %></td>  
            <td class="alt"><%= score.chineseClassOrder %></td>  
        </tr>  
        <tr>  
            <th scope="row" abbr="G5 Processor" class="specalt">数学</th>  
            <td class="alt"><%= score.mathScore %></td>  
            <td class="alt"><%= score.mathClassOrder %></td>  
            <td class="alt"><%= score.mathGradeOrder %></td>  
        </tr>  
            <tr>  
            <th scope="row" abbr="G5 Processor" class="specalt">英语</th>  
            <td class="alt"><%= score.englishScore %></td>  
            <td class="alt"><%= score.englishClassOrder %></td>  
            <td class="alt"><%= score.englishGradeOrder %></td> 
        </tr>  
        <tr>  
            <th scope="row" abbr="G5 Processor" class="specalt">地理</th>  
            <td class="alt"><%= score.geographyScore %></td>  
            <td class="alt"><%= score.geographyClassOrder  %></td>  
            <td class="alt"><%= score.geographyGradeOrder %></td>  
        </tr> 
        </tr>  
            <tr>  
            <th scope="row" abbr="G5 Processor" class="specalt">历史</th>  
            <td class="alt"><%= score.historyScore %></td>  
            <td class="alt"><%= score.historyClassOrder %></td>  
            <td class="alt"><%= score.historyGradeOrder %></td>  
        </tr>  
            <tr>  
            <th scope="row" abbr="G5 Processor" class="specalt">政治</th>  
            <td class="alt"><%= score.politicsScore %></td>  
            <td class="alt"><%= score.politicsClassOrder %></td>  
            <td class="alt"><%= score.politicsGradeOrder %></td>  
        </tr> 
        </tr>  
            <tr>  
            <th scope="row" abbr="G5 Processor" class="specalt">物理</th>  
            <td class="alt"><%= score.physicsScore %></td>  
            <td class="alt"><%= score.physicsClassOrder %></td>  
            <td class="alt"><%= score.physicsGradeOrder %></td>  
        </tr> 
        </tr>  
            <tr>  
            <th scope="row" abbr="G5 Processor" class="specalt">生物</th>  
            <td class="alt"><%= score.biologyScore %></td>  
            <td class="alt"><%= score.biologyClassOrder %></td>  
            <td class="alt"><%= score.biologyGradeOrder %></td>  
        </tr> 
        </tr>  
        <tr>  
            <th scope="row" abbr="G5 Processor" class="specalt">化学</th>  
            <td class="alt"><%= score.chemistryScore %></td>  
            <td class="alt"><%= score.chemistryClassOrder %></td>  
            <td class="alt"><%= score.chemistryGradeOrder %></td>  
        </tr>         
    </table> 
</div>
</form>
</body>
</html>